* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #23272b;
  color: #eee;
  font-weight: 100; }

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 40px; } }
  @media (min-width: 1024px) {
    .container {
      padding: 0 80px; } }
  @media (min-width: 1920px) {
    .container {
      padding: 0 160px; } }

.pageTitle {
  font-size: 24px;
  font-weight: 200; }

.app {
  padding-top: 80px; }

.header {
  height: 60px;
  background-color: #2b2d35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3); }
  .header__content {
    padding-top: 17px; }
