//Colors
$base-bg-color: #23272b;
$foreground-color: #2b2d35;

$base-font-color: #eee;

//Layout
$max-content-width: 1920px;

//Font-weight
$font-weight-light: 100;
$font-weight-normal: 200;
$font-weight-bold: 300;

//Breakpoints
$tablet-min: 768px;
$desktop-min: 1024px;
$hd-min: 1920px;